@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.post-download-hero-image {
  height: 40rem;
  width: 100%;
  display: block;
  background: url(images/pages/sonny-have-fun.webp);
  background-size: cover;
  background-position: center;
}

.post-download-hero-content {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
}

.post-download-hero-content h2 {
  font-size: 4rem;
  text-shadow: 0 0 9px black;
  margin-top: 31rem;
  font-family: 'Kaushan Script', 'Sedgwick Ave';
}

.instructions {
  background: #403f58;
  opacity: 0.9;
  padding: 1rem;
  display: inline-block;
  width: 100%;
}

.instructions span, .instructions a {
  color: #d8d8d8;
}

.community-area img {
  width: 100%;
  margin-bottom: 0.5rem;
}
